body {
  margin: 0;
  font-family: 'Roboto'-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: scroll;
}

code {
  font-family: 'Roboto',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  overflow-x: auto;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  overflow-x: auto;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  cursor: pointer;
  background-color: darkgrey;
  overflow-x: auto;
}
