@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --OPEN: green;
  --CLOSED: red;
  --primary: blue;
  --secondary:red;
  --page-bg: #282c34;
  --th-bg:linear-gradient(0deg, rgba(113,119,121,1) 0%, rgba(40,44,52,1) 100%);
  --font-color:white;
  --secondary-font-color:#181818;
  --odd-row-bg:rgb(19, 28, 46);
  --even-row-bg:rgba(255, 255, 255, 0.034);
  --table-border:1px solid #4e4e4e;
  --row-hover:#ffffff;
  --target-price:yellow;
  --app-header-font-color:black;
  --context-font-color:black;
}


.bbaim{
  --OPEN: green;
  --FILLED: red;
  --primary: blue;
  --secondary:red;
  --page-bg: #282c34;
  --th-bg:linear-gradient(0deg, rgba(113,119,121,1) 0%, rgba(40,44,52,1) 100%);
  --th-font:'Roboto';
  --font-color:#262626;
  --secondary-font-color:#181818;
  --odd-row-bg:rgb(19, 28, 46);
  --even-row-bg:rgba(255, 255, 255, 0.034);
  --even-row-color:rgba(255, 255, 255, 0.705);
  --odd-row-color:rgba(255, 255, 255, 0.705);
  --table-border:1px solid #4e4e4e;
  --row-hover: #b7b7b7;
  --target-price:yellow;
  --tb-font-size:12px;
  --tb-font: 'Roboto';
  --app-header-font-color:white;
  --context-font-color:black;
}

.crd{
  /* --OPEN: rgb(21, 70, 231);
  --FILLED: rgb(27, 231, 8);
  --WORKING: rgb(166, 194, 9);
  --primary: blue;
  --secondary: red;
  --page-bg: #f1f1f1;
  --th-bg: rgb(2 162 243);
  --th-font: Roboto;
  --th-color: white;
  --font-color: #262626;
  --secondary-font-color: #353535;
  --even-row-bg: rgb(137 195 243);
  --odd-row-bg: rgba(255, 255, 255, 0.705);
  --even-row-color: var(--font-color);
  --odd-row-color: var(--font-color);
  --table-border: 1px solid #4e4e4e;
  --row-hover: #71a8f0;
  --target-price: #340bfd;
  --tb-font-size:12px;
  --app-header-font-color:black; */
  --OPEN: rgb(21, 70, 231);
  --FILLED: rgb(27, 231, 8);
  --WORKING: rgb(166, 194, 9);
  --primary: blue;
  --secondary: red;
  --page-bg: rgb(40,46,57);
  --th-bg: rgb(47,53,66);
  --th-font: Roboto;
  --th-color: rgb(255, 255, 255);
  --font-color: white;
  --secondary-font-color: #353535;
  --even-row-bg: rgb(47, 53, 66);
  --odd-row-bg: rgb(40,46,57);
  --context-font-color:black;
  /* --even-row-color: var(--font-color);
  --odd-row-color: var(--font-color); */
  --table-border: 0px solid #4e4e4e;
  --row-hover: #b7b7b7;
  --target-price: green;
  --tb-font-size:12px;
  --tb-font: 'Roboto';
  --app-header-font-color:black;

}
.murex{
  --OPEN: rgb(21, 70, 231);
  --FILLED: rgb(27, 231, 8);
  --WORKING: rgb(166, 194, 9);
  --primary: blue;
  --secondary: red;
  --page-bg: #2b2b2b;
  --th-bg: rgb(22, 50, 175);
  --th-font: Roboto;
  --th-color: white;
  --font-color: #262626;
  --secondary-font-color: #353535;
  --even-row-bg: rgb(166, 167, 168);
  --odd-row-bg: rgba(255, 255, 255, 0.705);
  --even-row-color: var(--font-color);
  --odd-row-color: var(--font-color);
  --table-border: 1px solid #4e4e4e;
  --row-hover: #b7b7b7;
  --target-price: #340bfd;
  --tb-font-size:0.9em;
  --app-header-font-color:black;
}


.combined{
  --OPEN: rgb(21, 70, 231);
  --FILLED: rgb(27, 231, 8);
  --WORKING: rgb(166, 194, 9);
  --primary: blue;
  --secondary: red;
  --page-bg: rgb(40,46,57);
  --th-bg: rgb(47,53,66);
  --th-font: Roboto;
  --th-color: rgb(255, 255, 255);
  --font-color: white;
  --secondary-font-color: #353535;
  --even-row-bg: rgb(47, 53, 66);
  --odd-row-bg: rgb(40,46,57);
  /* --even-row-color: var(--font-color);
  --odd-row-color: var(--font-color); */
  --table-border: 0px solid #4e4e4e;
  --row-hover: #b7b7b7;
  --target-price: green;
  --tb-font-size:12px;
  --tb-font: 'Roboto';
  --app-header-font-color:black;
}

.combined th {
  border: 0px;
  padding: 8px;
}

body {
  min-width: 100vw;
  color:var(--font-color);
  text-align: center;
}
.App {
  background-color: var(--page-bg);
  min-width: 100%;
  min-height: 100vh;
  width: fit-content;
  font-weight: 400;
}



.App-header {
  /* background-color: #282c34; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--app-header-font-color);
}


table {
  /* margin-bottom:20px; */
  width:100vw;
  border-collapse: collapse;
  /* margin: 25px 0; */
  font-size: var(--tb-font-size);
  font-weight: 400;
  font-family: 'Roboto',var(--tb-font);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th {
  background: var(--th-bg);
  font: var(--th-font);
  color: var(--th-color);
}

th,td{
 padding: 8px;
}

tbody tr:hover {
  background: var(--row-hover);
  color: var(--secondary-font-color);
  cursor: pointer;
}

table, th {
  border: var(--table-border);
}

td{
  border-bottom: var(--table-border);
}
tbody tr:last-of-type {
  border-bottom: 2px solid var(--th-bg);
}
tr:nth-child(even) {
  background: var(--even-row-bg);
  color: var(--even-row-color);
}
tr:nth-child(odd) {
  background: var(--odd-row-bg);
  color: var(--odd-row-color);
}

.target-price {
color:var(--target-price);
}

form {
  display: inline-grid;
  /* flex-direction: column; */
  align-content: space-between;
  color: var(--font-color);
  border: 1px solid grey;
  /* width: 221px; */
  padding: 13px;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-items: stretch;
  /* text-align: left; */
  justify-content: center;
}

input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

form div {
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  justify-items: start;
  grid-template-columns: 1fr 1fr;
}

form span {
  color: red;
  font-size: 12px;
  font-style: italic;
}

form select {
  width: 100%;
}

form button {
  width: 50%;
  margin: 0 auto;
}

.menu-container {
  z-index: 1;
  position: absolute;
}

#menu{
  background: #ffffff;
  border: 1px solid var(--font-color);
  color: var(--context-font-color);
  min-height: 26px;
  /* width: 100px; */
  /* display: inline-flex; */
  /* align-content: space-between; */
  /* justify-content: space-between; */
  /* flex-wrap: nowrap; */
  /* align-items: center; */
}

#menu > ul {
  cursor: pointer;
  display: contents;
}

#menu > ul li {
  padding: 2px 20px;
  list-style: none;
  cursor: pointer;
}

#menu li:hover {
  font-weight: 600;
}
